.menu_container a{
  width: 9vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  font-size: 4vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 14px;
}
.menu_container{
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}